video {
  display: none;
}

.app {
  display: flex;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  margin-top: 50vh;
}

button {
  background: white;
  font-size: 3rem;
  border: 2px solid black;
  border-radius: 3px;
  padding: 2rem;
}

.boop {
  background: blue;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.boop p {
  margin-top: 45vh;
}
